.content {
    color: $color-blue;
    margin: 40px 20px; 

    .content-headline {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        h1 {
            display: flex;
            align-self: flex-end;
            font-weight: bold;
        }

        img {
            height: 60px;
            width: 60px;
        }
    }
}